:root {
  --font: "PT Sans", sans-serif;
  --black-color: #212121;
  --link-color: #1976d2;
  --accent-color: #ff4081;
}

body {
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  text-decoration: underline;
}
